@import "./utils/variables";
@import "./components/btn";
@import "./layout/all-header";
@import "./layout/index-main";
@import "./layout/photographer-banner";
@import "./layout/photographer-contact";
@import "./layout/photographer-gallery";
@import "./layout/photographer-lightbox";
@import "./layout/photographer-price";


//* MAIN ELEMENTS
* {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
* a {
    text-decoration: none;
}
body{
    color: $red;
}
.screen-size{
    max-width: 1440px;
    margin: auto;
}